$color-green-dark: #214e34;
$color-red: #eb7e47;
$color-green-light: #dff8eb;
$color-grey: #cdcdcd;
$color-white: #ffffff;
$color-shadow: #cdcdcd75;
$screen-mobile-s: 320px;
$screen-mobile-m: 440px;
$screen-mobile-l: 560px;
$screen-tablet-s: 680px;
$screen-tablet-m: 800px;
$screen-tablet-l: 920px;
$screen-desktop-s: 1040px;
$screen-desktop-m: 1160px;
$screen-desktop-l: 1280px;
